<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gasukinani.stride.editor"
    android:versionCode="1"
    android:versionName="1.0">

  <!-- Minimum Android 8.0 (API 26) para sa Stride Engine -->
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />

  <!-- Internet access para sa asset streaming / debugging -->
  <uses-permission android:name="android.permission.INTERNET" />

  <!-- Kinakailangan para sa 3D rendering ng Stride (OpenGL ES 3.0 pataas) -->
  <uses-feature android:glEsVersion="0x00030000" android:required="true" />

  <application
      android:label="Stride Editor"
      android:allowBackup="true"
      android:hasCode="true">
  </application>
</manifest>
